
*, *::before, *::after {
    box-sizing: border-box; }


    body {
      margin: 0;
    }

    img {
      max-width: 100%;
    }

    .allcontent {
      max-width: 70%;
      max-height: fit-content;
    }
   
html, body {
    margin: 0;   }

*, *::before, *::after {
    box-sizing: border-box;   }


#character {
     margin: 0 auto;
      max-width: 540px;
      position: relative;
      width: 43.875%;
      /* cursor: pointer; */
    }
    /*
    #character { 
      cursor: pointer;
    }
    */
    
    .Main-Tv {
        width: fit-content;
        max-height: fit-content;
        display: block;
        margin: 0 auto;
        position: relative;
    }
    .character-inside  {
      position: absolute;
      z-index: -2;
      left: 23%;  
      bottom: 7.3%;
      transform: rotate(2deg);
      max-width: 53%;
    }
    .character-active {
      position: absolute;
      z-index: -3;
      left: 25%;  
      bottom: 7.3%;
      max-width: 53%;
      height: 65%;
     background-color: aquamarine;
     display: none;
    }


     .hover-speech {
      position: absolute;
      display: none; /* Hidden initially */
    }
    .character-inside:hover .hover-speech {
      display: block; /* Show on hover */
      width: 90px;
      height: auto;
      top: 0px;
      left: 20%;
    }
     


    #character.inside .character-active {
      display: block;
    }
    #character.inside .character-inside
    {display: none;}




    /* This is the container for all of the draw images */
    #dresser {
      margin: 0 auto;
      max-width: 800px;
      position: relative;
      width: 65%;
    }

    .Main-dresser,
    .Draw-closed,
    .Draw-opened,
    .dresser-lower {
      height: auto;
      margin: 0;
      width: 100%;
    }

    .Main-dresser,
    .dresser-lower {
      position: relative;
    }

    .Draw-closed,
    .Draw-opened {
        position: absolute;
        top: 48%; 
        left: 0; 
        z-index: 2;
        background-color: rgb(255, 192, 203);
    }

    .Draw-closed {
        display: block;
        /* the numbers after the URL are your x and y offsets */
        cursor: url("images/hand-openingcursor.pdf") 30 40, auto;
    }

    .Draw-opened {
        display: none;
        left: 4%;
        transform: rotate(-2deg);
        width: 87%;
        cursor: url("images/handclosingcursor.pdf") 30 40, auto; 
          /* image needs to be like 800px800px MAX and pdf*/ 
    }

    .imageMap2 {
      display: block;
      cursor: url('images/money-cursor.pdf') 8 8, auto; 
    }
    
    .Main-Tv area {
      cursor: pointer; 
      display: block;
    }

    #bottom-draw {
       cursor: url("images/hand-openingcursor.pdf"), auto;
    }


    #bottom-draw.open .Draw-closed {
        display: none;
    }

    #bottom-draw.open .Draw-opened {
        display: block;
    }
.piggybank {
  position: absolute;
  max-width: 100px;
  width: 20%;
  bottom: 88%;
  left: 10%;
  z-index: 1;
  cursor: url("images/money-cursor.pdf"), auto; 
}
.cat {
  position: absolute;
  max-width: 130px;
  width: 22%;
  top: 0;
  left: 59%;
  z-index: 1;
  cursor: url("images/yarn-ball.pdf") -60 50, url("images/fish-cursor.pdf"), url("images/mouse-cusor.pdf"), auto; 
}

#moveable {
  aspect-ratio: 400/380;
  width: 20%;
  max-width: 400px;
  /* height: 380px; */
  background: url(images/notecard.png);
  background-size: cover;
  position: absolute;
    z-index: 9;
  top: 120px;
  left:200px;
  text-align: left;
}
txt {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  justify-content: center;
  /* min() lets you set two values for the same property and will always display at the smaller of the two. In your case using vw means it'll scale with the width of your screen until it reaches 18px, then will stay 18px */
  font-size: min(1.5vw, 24px);
  overflow: auto;
  padding: 15%;
}