
*, *::before, *::after {
    box-sizing: border-box; }


    body {
      margin: 0;
    }

    img {
      max-width: 100%;
    }

    .allcontent {
      max-width: 70%;
      max-height: fit-content;
    }
   
html, body {
    margin: 0;   }

*, *::before, *::after {
    box-sizing: border-box;   }



    .Main-Tv {
        width: fit-content;
        max-width: 65%;
        max-height: fit-content;
        display: block;
        margin: 0 auto;
    }

    /* This is the container for all of the draw images */
    #draw {
      margin: 0 auto;
      max-width: 800px;
      position: relative;
      width: 65%;
    }

    .Main-dresser,
    .Draw-closed,
    .Draw-opened {
      height: auto;
      margin: 0;
      width: 100%;
    }

    .Main-dresser {
      display: block;
      position: relative;
    }

    .Draw-closed,
    .Draw-opened {
        position: absolute;
        top: 48%; 
        left: 0; 
        z-index: 2;
        background-color: pink;
  
    }

    .Draw-closed {
        display: block;
    }

    .Draw-opened {
        display: none;
        left: 4%;
        transform: rotate(-2deg);
        width: 87%;
    }

    #draw.open .Draw-closed {
        display: none;
    }

    #draw.open .Draw-opened {
        display: block;
    }




    .column {
      justify-content: center;
      align-items: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 10%;
      padding: 5px;
    }
    .row::after {
      justify-content: center;
      align-items: center;
      flex-direction:row; 
    }