
*, *::before, *::after {
    box-sizing: border-box; }


    body {
      margin: 0;
    }

    img {
      max-width: 100%;
    }

    .allcontent {
      max-width: 70%;
      max-height: fit-content;
    }
   
html, body {
    margin: 0;   }

*, *::before, *::after {
    box-sizing: border-box;   }
a { color:rgb(169, 208, 153);} 
a:hover {color: rgb(131, 181, 127);}
a:active {color: rgb(252, 204, 229);}
a:visited {color: rgb(255, 172, 227);}
.mansalva-regular {
  font-family: "Mansalva", sans-serif;
  font-weight: 5;
  font-style: normal;
}



@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.rotateOnPlay {
  animation: rotateEffect 2s linear infinite;
}

#character {
     margin: 0 auto;
      max-width: 540px;
      position: relative;
      width: 43.875%;
      /* cursor: pointer; */
    }

    .Main-Tv {
        width: fit-content;
        max-height: fit-content;
        display: block;
        margin: 0 auto;
        position: relative;
    }
    .character-inside  {
      position: absolute;
      z-index: -2;
      left: 23%;  
      bottom: 7.3%;
      transform: rotate(2deg);
      max-width: 53%;
    }
    .character-active {
      position: absolute;
      z-index: -3;
      left: 25%;  
      bottom: 7.3%;
      max-width: 53%;
      height: 65%;
     background-color: aquamarine;
     display: none;
    }


     .hover-speech {
      position: absolute;
      display: none; /* Hidden initially */
    }
    .character-inside:hover .hover-speech {
      display: block; /* Show on hover */
      width: 90px;
      height: auto;
      top: 0px;
      left: 20%;
    }
     


    #character.inside .character-active {
      display: block;
    }
    #character.inside .character-inside
    {display: none;}




    /* This is the container for all of the draw images */
    #dresser {
      margin: 0 auto;
      max-width: 800px;
      position: relative;
      width: 65%;
    }

    .Main-dresser,
    .Draw-closed,
    .Draw-opened,
    .dresser-lower {
      height: auto;
      margin: 0;
      width: 100%;
    }

    .Main-dresser,
    .dresser-lower {
      position: relative;
    }

    .Draw-closed,
    .Draw-opened {
        position: absolute;
        top: 48%; 
        left: 0; 
        z-index: 2;
        background-color: rgb(255, 192, 203);
    }

    .Draw-closed {
        display: block;
        /* the numbers after the URL are your x and y offsets */
        cursor: url("images/hand-openingcursor.pdf") 30 40, auto;
    }

    .Draw-opened {
        display: none;
        left: 4%;
        transform: rotate(-2deg);
        width: 87%;
        cursor: url("images/handclosingcursor.pdf") 30 40, auto; 
          /* image needs to be like 800px800px MAX and pdf*/ 
    }
    .cursorimageMap2 {
      cursor: url("images/fish-cursor.png") 8 8, auto;
      display: block;
      cursor: url('images/dino.png') 8 8, auto; 
    }
    
    .Main-Tv area {
      cursor: pointer; 
      display: block;
    }

    #bottom-draw {
       cursor: url("images/hand-openingcursor.pdf"), auto;
    }


    #bottom-draw.open .Draw-closed {
        display: none;
    }

    #bottom-draw.open .Draw-opened {
        display: block;
    }
.piggybank {
  position: absolute;
  max-width: 100px;
  width: 20%;
  bottom: 88%;
  left: 10%;
  z-index: 1;
  cursor: url("images/money-cursor.pdf"), auto; 
}
.cat {
  position: absolute;
  max-width: 130px;
  width: 22%;
  top: 0;
  left: 59%;
  z-index: 1;
  cursor: url("images/yarn-ball.png") 2 2 , url("images/fish-cursor.png")2 2, url("images/mouse-cusor.pdf"), auto; 
}

#moveable {
  aspect-ratio: 400/380;
  width: 20%;
  max-width: 400px;
  background: url(images/notecard.png);
  background-size: cover;
  position: absolute;
    z-index: 9;
  top: 90px;
  left:68px;
  text-align: left;
}
txt {
  position: absolute;
  width: 180%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.3px;
  justify-content: center;
  /* min() lets you set two values for the same property and will always display at the smaller of the two. In your case using vw means it'll scale with the width of your screen until it reaches 18px, then will stay 18px */
  font-size: min(1.5vw, 24px);
  overflow: auto;
  padding: 12%;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(600%);
  }
  100% {
    transform: translateX(0);
  }
}

.fall-img {
  animation-name: slideInFromRight;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  position: absolute;
  top: 10px;
  left: 30%;
  transition: transform 4s ease-in;
  cursor: pointer;
  display: inline-block;
  width: min(10%, 50px);
}

.fall {
  transform: translate(0%, -50vh) scale(0.5) rotate(60deg);
}


.second-img {
  left: 40%;
  top: -60%;
  opacity: 1;
  
}

.second-img.fall {
  transition-duration: 6s;
}